services:
  redis:
    image: redis:6-alpine
    container_name: own1-temp-redis
    ports:
      - "6388:6388"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - own1-network

networks:
  own1-network:
    driver: bridge

volumes:
  redis_data:
    driver: local

# docker-compose up -d, docker-compose down
